@import "~bootstrap/scss/functions";
@import "~@universis/theme/scss/bootstrap/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~@universis/theme/scss/coreui/_variables";

.statbox-bottom {
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;

  &__wrapper {
    @include media-breakpoint-up(sm)  {
      margin-bottom: 260px;

      .statbox-bottom {
        position: fixed;
        z-index: 1;
      }
    }

    @include media-breakpoint-up(lg)  {
      margin-bottom: 0;
    }
  }
}

.clear-content-area {
  height: 100%;
  width: 100%;
}

.dropdown {
  border-radius: 3px;
}

.grade_filter-area {
  border: 1px solid #C2CFD6;
  background-color: #F0F3F5;
}

.dots:after {
  content: '\2807';
  font-size: 20px;
  color: #869FAC;
}
.footer-text {
  font-weight: 600;
}
